@page
@model KamiHealthCare.Pages.Patients.IndexModel
@{
}
<br />
<h2>List Of Patients</h2>
<a class="btn btn-primary btn-sm" href="/Patients/Create">New Patient</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListPatients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.createdAt</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Patients/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Patients/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
